body {
    font-family: "Open Sans", "Arial", sans-serif;    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-weight: 700;

}

.blue-box-top,
.blue-box-bottom {
    background: #0b7cb1;
    padding: 40px 10px;
    color: #ffffff;
}